html
{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lemonada', cursive;
}

a
{
    text-decoration: none !important;
}

a:hover
{
    text-decoration: none !important;
}

li
{
    list-style: none !important;
}

p
{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}

.navbar:before
{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: 3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.icons
{
    color: #fff;
}

select
{
	font-size: 1rem;
	margin: 2rem 0;
    background: #fff;
    outline: none;
    min-width: 150px;
    min-height: 45px;
}



.nav-item a
{
    color: #ffffff !important;
    font-weight: bold;
    margin-left: 1.3rem;
}

.header-section
{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}

.center-div
{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.center-div p
{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}

.center-div h1
{
    line-height: 2;
}

.header-buttons a
{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

.header-buttons a:hover
{
    color: #50d1c0;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.50);
}


/************************ Card ************************/

.top-teen
{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
    padding: 50px;
    position: relative;
    background: linear-gradient(330deg, #16c9f6 55%, #fff 0%);
}


.box
{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    transition: 0.3s ease;
    background: #fff;
}

.box .img:after
{
    content: "\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    color: white;
    position: absolute;
    top: 120%;
    left: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.topteen-button a
{
    color: #fff !important;
}

.topteen-button
{
    border: 1px solid #16c9f6;
    border-radius: 100px;
    /*new*/
    margin: 1rem 0rem;
    padding: 12px 40px;
    outline: none !important;
    /*end*/
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    background: #16c9f6;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
}

input[type=radio]
{
    margin-left: auto;
    margin-right: auto;
}

/*new*/
.text-button
{
    display: flex;
    justify-content: space-evenly !important;
}

.modal-title
{
    margin-left: auto;
    margin-right: auto;
    color: #16c9f6;
}

.contactus-button
{

    padding: 0px 0;
    position: relative;
}

.modal-footer
{
    margin-left: auto;
    margin-right: auto;
}


/* width input fields */
input[type=number] {
    padding: 12px 20px;
    margin: 0.7rem auto 3rem auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    direction: rtl;
  }
  
  /* Set a style for all buttons */
  .second-m-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }
  
  .second-m-button:hover {
    opacity: 0.8;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }

  .inside-modal
  {
      width: 40%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
  }

  .modal-dialog
  {
      min-width: 70% !important;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 100%;

  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  input[type=radio]
  {
      margin-left: 1.3rem;
  }


/*end*/

.box h1
{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
}

.box a
{
    position: relative;
}

.box a img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

/************************ Card End ************************/






/************************ Setting ************************/

.header-extradiv
{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 50px;
    position: relative;
}


.header-extradiv:before
{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    z-index: -1;
    /*background: linear-gradient(330deg, #16c9f6 55%, #fff 0%);*/
}

.Editing input
{
    display: block;
}

.card-row
{
    background: #fff;
    justify-content: space-between;
    padding: 3rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.50);
    border-radius: 3rem;
    align-items: center;
}

.input {
	background-color: #eee;
	border: 1px solid rgba(0, 0, 0, 0.432);
	padding: 12px 15px;
	margin: 0.7rem 0;
	width: 100%;
	text-align: right;
	font-size: 1.1rem;
    border-radius: 50px;
    outline: none;
}

.input#file-input1
{
	display: none;
}

.input.file-input1 + label
{

	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 0.7rem 0;
	width: 100%;
	text-align: right;
	font-size: 1.1rem;
}

label
{
	margin: 2rem 2rem !important;
    font-size: 1rem;
}



/************************ Setting End ************************/




/************************ Contact Us ************************/

.contactus
{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}

.contactus:before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(30deg, #16c9f6 55%, #fff 0%);
}

.form-control
{
    direction: rtl;
}


.form-button
{
    border: 2px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none !important;
    color: #16c9f6;
    background: #fff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

::placeholder
{
    font-size: 0.85rem;
}


/************************ Contact Us End ************************/






/************************ Upper footer ************************/

.upper-footer
{
    width: 100%;
    height: auto;
    margin: 10rem auto;
}

.upperfooter
{
    border-radius: 0px 100px 100px 0px !important;
    min-width: 150px;
    min-height: 45px;
}

.input-group-text
{
    color: #fff !important;
    background: #5bc0de !important;
    border-radius: 100px 0 0 100px !important;
    min-width: 130px;
    min-height: 45px;
}

/************************ Upper footer end ************************/





/************************ Footer ************************/
.footer-text h3, p, li
{
    text-align: center;
}

.footersection
{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #00abff;
    position: relative;
}

.footersection p
{
    color: #fff;
    font-size: 0.8rem !important;
}

.footersection li a
{
    font-size: 0.8rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
}

.footersection h3
{
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem !important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

#myBtn
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;
}

#myBtn:hover
{
    background: #606060;
}
/************************ Footer end ************************/







/************************ Responsive ************************/

@media(max-width: 768px)
{
    .nav-item
    {
        text-align: center !important;
    }

}

@media screen and (max-width:990px)
{
    .navbar-nav
    {
    }

    .nav-item a
    {
        font-size: 0.7rem !important;
    }

    
    .center-div h1 
    {
        font-size: 1.2rem;
    }

    .center-div p
    {
        font-size: 0.7rem;
    }

    .top-teen
    {
        height: auto;
        margin-top: 50px;
    }

    .contactus
    {
        height: auto;
        margin-top: 50px;
    }

    .contactus p
    {
        padding: 0 50px;
    }

    .footer-div
    {
        margin: 30px 0;
    }
}

@media screen and (max-width:988px)
{
    .cards
    {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width:568px)
{
    .cards
    {
        grid-template-columns: repeat(1, 1fr);
    }
}
