<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/admin.css">
    <title>admin</title>
</head>
<body>

    <div class="container">
        <h1>Admi setting</h1>
        <div class="photos">
            <input type="file" name="" id="">
            <input type="file" name="" id="">
        </div>
        <div class="text">
            <input type="text" name="" id="" placeholder="  ادخل المعلومات ...">
            <input type="text" name="" id="" placeholder="  ادخل المعلومات ...">
            <input type="text" name="" id="" placeholder="  ادخل المعلومات ...">
            <input type="text" name="" id="" placeholder="  ادخل المعلومات ...">
            <input type="text" name="" id="" placeholder="  ادخل المعلومات ...">
            <input type="text" name="" id="" placeholder="  ادخل المعلومات ...">
        </div>
        <div class="centering-button">
        <button type="submit"><a href="#">done</a></button>
        </div>
    </div>
    
</body>
</html>