<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/admin.css">
    <title>admin</title>
</head>
<body>
    {%if len == 1%}
    <form  method="POST" action="/admin/{{ result[0]['id'] }}">
        <div class="container">
            <h1>Admi setting</h1>
            <div class="photos">
                <img src="{{ result[0]['license']}}" alt="HTML5 Doctor Logo" width="500" height="300" />     
            </div>
            <div class="text">
                <h5>{{  result[0]["name"]}}</h5>
                <h3>{{  result[0]["email"]}}</h5>
                <h4>{{  result[0]["number"]}}</h5>
            <input type="text" name="years"  placeholder=" years of exp">
                <input type="text" name="spc"  placeholder=" specialization">
                <input type="text" name="exp"  placeholder="  expire date">
            </div>
            <div class="photos">
                <img src="{{ result[0]['picture'] }}" alt="HTML5 Doctor Logo" width="200" height="200" />
            </div>
            <div class="centering-button">
            <button type="submit">verfie</button>
            </div>
        </div>
        {%elif len == 0%}
        <div class="container">
            <h1>Admi setting</h1>

            <div class="text">
                <h1>no new registers</h1>
            </div>
           
        </div>
        {%endif%}
    </form>
    
</body>
</html>