<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/lawy_err.css">
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>المحامين</title>
</head>

<body>

    <!--*********************** Header part and Nav ***********************-->
    <div class="header" id="topheader">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <img class="navbar-brand" src="/static/img/photo_2021-01-30_14-48-09-Recovered.png" style="width: 6rem;">
                <button class="navbar-toggler" style="outline: none;" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="https://mohamikm.herokuapp.com/login">تسجيل دخول للمحامي <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> قرارات محاكم التمييز<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://mohamikm.herokuapp.com/laws"> القانون العراقي<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://mohamikm.herokuapp.com/lawyers-search">المحامين <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="https://mohamikm.herokuapp.com/">الصفحة الرئيسية <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="header-section">
            <div class="center-div">
                <h1 class="font-weight-bold">
                    ابحث عن المحامي المناسب
                </h1>
                <p> موقع ( محاميكم ) يجعل من السهل عليك العثور على محامين باستخدام
                    التخصص المطلوب والمشاورة القانونية
                </p>
                <form method="POST" action="/lawyers-search">
                    <div class="input-group mb-3 container">
                        <div class="input-group-append">
                            <button class="input-group-text">ابحث</button>
                            <div class="select-wrapper">
                                <select name="city" id="city">
                                    <option value="all" >الجميع</option>
                                    <option value= "بغداد"> بغداد </option>
                                    <option value= "بصرة"> بصرة </option>
                                    <option value= "بابل"> بابل </option>
                                    <option value= "كركوك"> كركوك </option>
                                </select> 
                            </div>
                        </div>
                        <input type="text" name="Search" class="form-control upperfooter" style="color: black;" placeholder="اسم المحامي">
                    </div>
                </form>
            </div>
        </section>
    </div>
    <!--*********************** Header part end ***********************-->

    <h3 class="erorr-text">☹️ العنصر الذي بحثت عنه غير متوفر</h3>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>