<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap" rel="stylesheet">
	<title>تسجيل الدخول</title>
</head>

<body>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form  method="POST" enctype="multipart/form-data" action="/register">
				<h1>انشاء حساب</h1>
				<input type="text" name="name" placeholder="الاسم" required>
				<input type="email" name="email" placeholder="الايميل" required>
				<input type="password" name="password" placeholder="كلمة المرور" required>
				<input type="tel" name="number" placeholder="رقم الهاتف" required accept="image/*">
				<div class="upload-img">
					<input type="file" name="pic"  id="file-input1" required  accept="image/*">
					<label for="file-input1" aria-required="true">📥 صورتك الشخصية</label>
	
					<input type="file" name="license" id="file-input2" required>
					<label for="file-input2">📥 صورة رخصة النقابة</label>
				</div>

				<div class="select-wrapper">
					<select name="city" id="city">
						<option value= "بغداد"> بغداد </option>
						<option value= "بصرة"> بصرة </option>
						<option value= "بابل"> بابل </option>
						<option value= "كركوك"> كركوك </option>
					</select>

					<label>اختر محافظتك</label>
				</div>
				<button class="button">تسجيل</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form method="POST" action="/login">
				<h1>تسجيل الدخول</h1>
				<h3>لتغيير معلومات او تحديث هوية النقابة او لعرض معلوماتك</h3>
				<input type="email"  name="email" placeholder="الايميل" required>
				<input type="password"  name="password" placeholder="كلمة المرور" required>
				<a href="#">هل نسيت كلمة المرور؟</a>
				<button class="button">تسجيل الدخول</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>! مرحبا بك من جديد</h1>
					<p style="font-size: 1.3rem;"> لتغيير معلومات سجل الدخول
					</p>
					<button class="ghost button" id="signIn">تسجيل الدخول</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>! مرحبا</h1>
					<p style="font-size: 1.3rem;">أدخل بياناتك الشخصية وابدأ الرحلة معنا</p>
					<button class="ghost button" id="signUp">تسجيل</button>
				</div>
			</div>
		</div>
	</div>

	<script src="/static/login.js"></script>
</body>

</html>